> **LINEAR REGRESSION FOR IRIS DATASET**

In [2]:
# Import Dataset from sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
# Load Iris Data
iris = load_iris()
# Creating pd DataFrames
iris_df = pd.DataFrame(data= iris.data, columns= iris.feature_names)
target_df = pd.DataFrame(data= iris.target, columns= ['species'])
def converter(specie):
    if specie == 0:
        return 'setosa'
    elif specie == 1:
        return 'versicolor'
    else:
        return 'virginica'
target_df['species'] = target_df['species'].apply(converter)
# Concatenate the DataFrames
iris_df = pd.concat([iris_df, target_df], axis= 1)

In [3]:
# Converting Objects to Numerical dtype
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
iris_df.drop('species', axis= 1, inplace= True)
target_df = pd.DataFrame(columns= ['species'], data= iris.target)
iris_df = pd.concat([iris_df, target_df], axis= 1)
# Variables
X= iris_df.drop(labels= 'sepal length (cm)', axis= 1)
y= iris_df['sepal length (cm)']

# Splitting the Dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state= 101)

# Instantiating LinearRegression() Model
lr = LinearRegression()

# Training/Fitting the Model
lr.fit(X_train, y_train)

# Making Predictions
lr.predict(X_test)
pred = lr.predict(X_test)

# Evaluating Model's Performance
print('Mean Absolute Error:', mean_absolute_error(y_test, pred))
print('Mean Squared Error:', mean_squared_error(y_test, pred))
print('Mean Root Squared Error:', np.sqrt(mean_squared_error(y_test, pred)))
print('R square for train data : ',lr.score(X_train,y_train))
print('R square for test data : ',lr.score(X_test,y_test))

Mean Absolute Error: 0.2595570975563035
Mean Squared Error: 0.10174529564238954
Mean Root Squared Error: 0.3189753840696638
R square for train data :  0.8666129758784316
R square for test data :  0.8468143505194408

In [4]:
d = {'sepal length (cm)' : [4.4],
    'sepal width (cm)' : [2.9],
    'petal length (cm)' : [1.4],
    'petal width (cm)' : [0.2],
    'species' : 'setosa'}
test_df = pd.DataFrame(data= d)
test_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,4.4,2.9,1.4,0.2,setosa

In [5]:
pred = lr.predict(X_test)
print('Predicted Sepal Length (cm):', pred[0])
print('Actual Sepal Length (cm):', 4.4)

Predicted Sepal Length (cm): 5.461145872156033
Actual Sepal Length (cm): 4.4